body {
    background-color: #373738;
    color: lightgray;
}

.my-btn {
    margin: 2px;
    color: lightgray;
}

.my-ad {
    margin: 5px;
}

.my-ad:hover {
    box-shadow: 2px 2px 18px 2px rgb(162, 241, 215);
    transition: box-shadow 0.3s ease-in-out;
}

.my-ad:not(:hover) {
    transition: box-shadow 1s ease-out;
}

.my-profil {
    margin: 5px;
}

.my-navbar {
    background-color: #4A4A4F;
}

hr {
    background-color: white;
}

.my-tr:hover {
    color: white;
}

.my-input {
    background-color: rgb(230, 230, 230);
}